========
Contents
========

.. toctree::
   :maxdepth: 2

   readme
   installation
   usage
   reference/index
   contributing
   authors
   changelog
   View on GitHub <https://{{repo_hosting}}/{{repo_userorg}}/{{repo_name}}>

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
