========
Overview
========

{{ project_description }}

.. start-badges

| |version| |commits-since| |license|
| |supported-versions| |wheel| |downloads|
| |cicd| |coverage|

.. |version| image:: https://img.shields.io/pypi/v/{{ distribution_name }}.svg
    :target: https://{{ pypi_host }}/project/{{ distribution_name }}
    :alt: PyPI Package latest release

.. |commits-since| image:: https://img.shields.io/github/commits-since/{{ repo_userorg }}/{{ repo_name }}/v{{ version }}.svg
    :target: https://{{ repo_hosting }}/{{ repo_userorg }}/{{ repo_name }}/compare/v{{ version }}...{{ repo_main_branch }}
    :alt: Commits since latest release

.. |license| image:: https://img.shields.io/pypi/l/{{ distribution_name }}.svg
    :target: https://en.wikipedia.org/wiki/{{ license|truncate([30,license.find('(')]|max(),end='')|replace(" v3 or later","")|replace(" ","_") }}
    :alt: License

.. |supported-versions| image:: https://img.shields.io/pypi/pyversions/{{ distribution_name }}.svg
    :target: https://{{ pypi_host }}/project/{{ distribution_name }}
    :alt: Supported versions

.. |wheel| image:: https://img.shields.io/pypi/wheel/{{ distribution_name }}.svg
    :target: https://{{ pypi_host }}/project/{{ distribution_name }}#files
    :alt: PyPI Wheel

.. |downloads| image:: https://img.shields.io/pypi/dw/{{ distribution_name }}.svg
    :target: https://{{ pypi_host }}/project/{{ distribution_name }}/
    :alt: Weekly PyPI downloads

.. |cicd| image:: https://{{ repo_hosting }}/{{ repo_userorg }}/{{ repo_name }}/actions/workflows/ci-cd.yml/badge.svg
    :target: https://{{ repo_hosting }}/{{ repo_userorg }}/{{ repo_name }}/actions/workflows/ci-cd.yml
    :alt: Continuous Integration and Deployment Status

.. |coverage| image:: https://img.shields.io/endpoint?url={{ docs_url }}/coverage-report/cov.json
    :target: {{ docs_url }}/coverage-report/
    :alt: Coverage report

.. end-badges


Installation
============

::

    pip install {{ distribution_name }}

You can also install the in-development version with::
{% if repo_hosting == "github.com" %}
    pip install git+https://{{ repo_hosting }}/{{ repo_userorg }}/{{ repo_name }}.git@{{ repo_main_branch }}
{% elif repo_hosting == "gitlab.com" %}
    pip install https://gitlab.com/{{ repo_userorg }}/{{ repo_name }}/-/archive/{{ repo_main_branch }}/{{ repo_name }}-{{ repo_main_branch }}.zip
{% else %}
    pip install git+ssh://git@{{ repo_hosting }}/{{ repo_userorg }}/{{ repo_name }}.git@{{ repo_main_branch }}
{%- endif %}

Documentation
=============

{{ docs_url }}

Development
===========

To run all the tests run::

    tox

Note, to combine the coverage data from all the tox environments run:

.. list-table::
    :widths: 10 90
    :stub-columns: 1

    - - Windows
      - ::

            set PYTEST_ADDOPTS=--cov-append
            tox

    - - Other
      - ::

            PYTEST_ADDOPTS=--cov-append tox
