name: Build

# Controls when the action will run.
on:
  workflow_call:

{% import '{{repo_name}}/.github/workflows/ci-cd.yml.jinja' as ci with context %}{# Use some Jinja macros -#}

jobs:
  build:
    # convert this to a matrix if builds differ between platforms
    runs-on: {{'${{ matrix.os }}'}}
    strategy:
      matrix:
        os: ['ubuntu-latest']
    steps:

      {{ ci.checkout() }}

      {{ ci.setup_python() }}

      {{ ci.pip_install_req() }}

      - name: Build
        run: tox -e build -v

      - name: Upload packages for publishing job
        uses: actions/upload-artifact@v4
        with:
          name: {{"packages-${{ matrix.os }}"}}
          path: |
              dist/*.whl
              dist/*.tar.gz
